<h2>Showing Office</h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @office.name %>
</p>

<p>
  <b>Sun:</b>
  <%= @office.sun %>
</p>

<p>
  <b>Mon:</b>
  <%= @office.mon %>
</p>

<p>
  <b>Tue:</b>
  <%= @office.tue %>
</p>

<p>
  <b>Wed:</b>
  <%= @office.wed %>
</p>

<p>
  <b>Thu:</b>
  <%= @office.thu %>
</p>

<p>
  <b>Fri:</b>
  <%= @office.fri %>
</p>

<p>
  <b>Sat:</b>
  <%= @office.sat %>
</p>

<p>
  <b>From:</b>
  <%= @office.from %>
</p>

<p>
  <b>To:</b>
  <%= @office.to %>
</p>

<p>
  <b>Zone:</b>
  <%= @office.zone %>
</p>

<p>
  <b>Phone:</b>
  <%= @office.phone %>
</p>

<p>
  <b>Notes:</b>
  <%= @office.notes %>
</p>
<%= link_to 'Edit', edit_office_path(@office) %><br/><br/>
<%= link_to 'Back', offices_path %>
